<p>Your Name *</p>

<form #userForm="ngForm">

        {{userForm.value | json}}

        <hr />
        {{userModel | json}}
        
<div class="input-group ">
   
    <input type="text" class="form-control" placeholder="First Name" name ="firstName" [(ngModel)]="userModel.firstName"/>
    <span class="input-group-addon">-</span>
    <input type="text" class="form-control" placeholder="Last Name"  name="LastName"   [(ngModel)]="userModel.lastName" />
  
    
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            First Name
        </div>
        <div class="col-sm-6">
            Last Name
        </div>
    </div>
</div>

<div class="form-group">
    <label for="usr">Email *</label>
    <input type="text" class="form-control" name="Email" id="usr"[(ngModel)]="userModel.email">
  </div>
</form>

 



